#one{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-weight: lighter;
}

button{
    font-size: 0.75em;
    border: none;
    border-radius: 10%;
    color: black;
    background-color: aquamarine;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: rgb(53, 170, 170);

}

input{
    font-size: 0.76em;
    width: 5em;
    text-align: center;
    font-weight: bold;
}